/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
p,
a {
  font-size: 1.6rem;
}
.container {
  border: solid  1px;
  border-color: red;
  margin: 0 auto;
  max-width: 100vw;
}
header {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  position: fixed;
  top: 0;
  align-items: baseline;
  z-index: 1001;
  background: linear-gradient(lightseagreen, #f79d00);
  padding-bottom: 10px;
}
@media (max-width:800px) {
  header {
    flex-direction: column;
    padding-bottom: 0;
  }
}
header .button-mobile {
  display: none;
}
header .button-mobile p {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  cursor: pointer;
}
@media (max-width: 500px) {
  header .button-mobile {
    display: flex;
    width: 100%;
  }
}
header .logo {
  margin-top: 15px;
  width: 10%;
  height: 7rem;
}
@media (max-width:800px) {
  header .logo {
    width: 100%;
    margin-top: 0;
    height: 4rem;
  }
}
@media (max-width: 500px) {
  header .logo {
    display: none;
  }
}
header nav {
  width: 100%;
  align-items: flex-end;
  justify-content: flex-start;
  display: flex;
}
@media (max-width:800px) {
  header nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
header nav a {
  justify-content: space-between;
  text-decoration: none;
  color: black;
  padding: 0 25px;
  margin-left: 2rem;
  cursor: pointer;
}
header nav a:hover {
  color: black;
  text-decoration: underline;
}
@media (max-width:800px) {
  header nav a {
    margin: 0;
    width: 90%;
    padding: 10px 0 10px 0;
    text-align: center;
    color: black;
    border-bottom: 1px solid black;
  }
}
@media (max-width: 500px) {
  header nav a {
    display: none;
  }
}
header nav .dropdown {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (max-width:800px) {
  header nav .dropdown .dropdown-button {
    display: none;
  }
}
header nav .dropdown .dropdown-button a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}
header nav .dropdown .dropdown-button a:hover {
  color: black;
  text-decoration: underline;
}
header nav .dropdown .dropdown-links {
  width: 100%;
  flex-direction: column;
  flex-direction: row;
  display: flex;
  padding-left: 10px;
  justify-content: flex-start;
}
@media (max-width:800px) {
  header nav .dropdown .dropdown-links {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
  }
}
header nav .dropdown .dropdown-links a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
@media (max-width:800px) {
  header nav .dropdown .dropdown-links a {
    color: black;
  }
}
header nav .dropdown .dropdown-links a:hover {
  text-decoration: underline;
  color: black;
}
header nav .dropdown .dropdown-hidden {
  display: none;
}
@media (max-width:800px) {
  header nav .dropdown .dropdown-hidden {
    display: flex;
  }
}
header #google_translate_element {
  position: absolute;
  top: 0;
  left: 800px;
}
@media (max-width:800px) {
  header #google_translate_element {
    display: none;
  }
}
.cta {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-bottom: 100;
}
.cta .cta-img {
  width: 100%;
  opacity: 0.8;
  z-index: -1;
  display: none;
}
@media (max-width:800px) {
  .cta .cta-img {
    margin-top: 125px;
  }
}
.cta h1 {
  font-size: 4.5rem;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  align-self: center;
  margin-top: -50px;
  z-index: 2;
}
@media (max-width:800px) {
  .cta h1 {
    font-size: 3.5rem;
    -webkit-text-stroke-width: 1px;
  }
}
@media (max-width: 500px) {
  .cta h1 {
    font-size: 2.5rem;
  }
}
.carousel .img-reveal {
  display: block;
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
.main-content {
  display: flex;
  flex-direction: column;
}
.main-content .main-intro {
  margin-top: 50px;
}
.main-content .main-intro p {
  text-align: center;
  font-size: 2rem;
}
.main-content .main-intro h2 {
  text-align: center;
  font-size: 3rem;
}
.main-content .section {
  display: flex;
  flex-direction: column;
}
footer {
  color: gray;
  padding: 20px 0 20px 0;
  text-align: center;
}
footer p {
  font-size: 1rem;
}
.section .tabs {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section .tabs .tabs-links {
  display: flex;
  margin-top: 15px;
}
.section .tabs .tabs-links .tabs-link {
  text-decoration: none;
  font-size: 1.75rem;
  color: darkgray;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.section .tabs .tabs-links .tabs-link:hover {
  color: gray;
}
.section .tabs .tabs-links .tabs-link-selected {
  z-index: 2;
  color: #20b2aa;
  border-bottom: 1px solid #20b2aa;
}
.section .tabs .tabs-links .tabs-link-selected:hover {
  background-color: #20b2aa;
  color: white;
}
.section .tabs-items {
  width: 100%;
  height: auto;
  display: flex;
  overflow: scroll;
}
.section .tabs-items .tabs-item {
  display: none;
  height: auto;
  width: 25%;
  margin: 25px 15px 25px 35%;
  transition: all 0.3s ease-in-out;
}
.section .tabs-items .tabs-item .tabs-item-title {
  color: gray;
  font-size: 2.1rem;
  padding-bottom: 10px;
}
.section .tabs-items .tabs-item .tabs-item-description {
  color: gray;
  font-size: 1.7rem;
  line-height: 2rem;
}
.section .tabs-items .tabs-item .regBtn {
  border: none;
  color: white;
  background-color: #20b2aa;
  margin-top: 15px;
  padding: 5px 10px;
}
.section .tabs-items .tabs-item .tabs-item-selected {
  display: block;
}
.section .selection-img {
  border: 1px solid #20b2aa;
  margin: 5px 0;
  opacity: 0.9;
  max-height: 300px;
  max-width: 300px;
  height: auto;
  width: auto;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 500px) {
  .section .selection-img {
    margin: 10px auto;
  }
}
.title {
  margin-top: 150px;
  text-align: center;
}
.team-members {
  margin-top: 20px;
  background: white;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}
.pictures {
  width: 100%;
  border: solid  1px;
  border-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pictures .person {
  margin-left: 20px;
  position: relative;
  width: 300px;
}
.pictures .person img {
  width: 100%;
  border: 1px solid blue;
}
.pictures .person img:hover {
  filter: brightness(30%);
}
.person-selected {
  z-index: 2;
  border-right: 1px solid red;
  background-color: white;
  color: black;
}
.person-selected:hover {
  background-color: white;
}
.info {
  width: 100%;
  display: flex;
}
.team-design {
  display: none;
}
.text-selected {
  display: flex;
}
