.cta { 
    display: flex;
    flex-direction: column;

    .cta-img {
        width: 100%;
        opacity: 0.8;
        z-index:-1;
        display:none;
    }
    
    // h1 {
    //     margin-bottom: -77px;
    //     align-self: center;
    //     font-size: 7.5rem;
    //     color: white;
    //     -webkit-text-stroke-color: black;
    //     -webkit-text-stroke-width: 2px;
    //     background: rgba(255,255,255,0.2);
    //     border-top: solid black 1px;
    //     border-bottom: solid black 1px;
    //     z-index: 2;

    //     @media @tablet {
    //         font-size: 5rem;
    //         -webkit-text-stroke-width: 1.2px;
    //         margin-bottom: -63px;
    //     }

    //     @media @phone {
    //         font-size: 4rem;
    //         -webkit-text-stroke-width: 1px;
    //         margin-bottom: -42px;
    //     }
    // }

    h2 {
        font-size: 4.5rem;
        color: white;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 2px;
        align-self: center;
        // margin-top: -5.5rem;
        background: rgba(255,255,255,0.2);
        border-top: solid black 1px;
        border-bottom: solid black 1px;
        z-index: 2;
        
        @media @tablet {
            font-size: 3.5rem;
            -webkit-text-stroke-width: 1.2px;
            // margin-top: -4.5rem;
        }

        @media @phone {
            font-size: 2.5rem;
            -webkit-text-stroke-width: 1px;
            // margin-top: -3.5rem;
        }
    }
}