header{
    width:100%;
    border: 1px solid black;
    //.flex();
    justify-content: space-between;
    background-color: white;
    display:flex;
    // opacity: 0.8;
    position: fixed;
    top:0;
    margin-left: -1px;
    .logo {
        //margin: 15px;
        width: 10%;
        height: 7rem;
        .box(red);
    }
    nav{
        width:100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        // .flex();

        a{  
        justify-content: space-between;
        border: 1px solid blue;
        text-decoration: none;
        color: black;
        padding: 0 25px;
        margin-left: 2rem;
        }
    }
    .login{
        width: 5%;
        border: 1px solid black;
        font-size: 1.6rem;
        margin: 15px;
        }
    .drop-down{
        display: none;
    }    
}

    