header{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    opacity: 0.8;

    .logo {
        width: 100px;
        height: 100px;
    }

    .nav{
        border: 1px solid black;
        width:100%;
        display:flex;
        list-style: none;
        justify-content: flex-end;
        align-content: center;
    }

    a{  
        border: 1px solid black;
        text-decoration: none;
        color: black;
        padding: 0 25px;
    }
}

    