header{
    border: 1px solid black;
    background: linear-gradient(to right,  #ffffff, rgb(128, 166, 201));
    display: flex;
    justify-content: space-between;
    margin: 25px 0;

    .logo {
        width: 100px;
        height: 100px;
        margin: 20px;
    }

    .nav-main{
        border: 1px solid black;
       width:100%;
       display:flex;
       list-style: none;
       justify-content: flex-end;
       align-content: center;       
    }

    a{  
        border: 1px solid black;
        width: 100%;
        text-decoration: none;
        color: black;
        padding: 0 35px;
    }
}

    