.main-content {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
       
    .main-intro {

        p {
            align-self: center;
            font-size: 3rem;
        }
    
        h2 {
            align-self: center;
            font-size: 3.25rem;
            margin-right: 80px;
        }
    }    

    .section {
        display: flex;
        flex-direction: column;
        border: 1px solid red;

        .tabs {
            border: 1px solid green;
            display: flex;
            justify-items: center;
        }
       
    }

}

