.main-content {
    .box(blue);
    display: flex;
    flex-direction: column;
       
    .main-intro {
        margin-top: 50px;

        @media @tablet {
            
        }

        @media @phone {
            
        }

        p {
            text-align: center;
            font-size: 2rem;
            margin-right: 15%;
        }
    
        h2 {
            text-align: center;
            font-size: 3rem;
            margin-right: 20%;
        }
    }    

    .section {
        display: flex;
        flex-direction: column;
        .box(red);
    }

}

