// @@@@@@@@@@@@@@@@@@@@ Variables @@@@@@@@@@@@@@@@@@@@
// Color Scheme
@green: #20b2aa;
@red: #b24220;
@gold: #b28b20;
@purple: #32006e;
@text: #333d47;

// Font weights
@lt: 400;
@reg: 600;
@bld: 700;

// Break Points
@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';