.title{
  margin-top:150px;
  text-align: center;
}

.team-members{
    margin-top:20px;
    background: white;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}



.pictures{
    width:100%;
    .box(black);
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    .person{
        margin-left: 20px;
        position:relative;
        img{
            width:100px;
            border: 1px solid blue;
            &:hover{
                filter: brightness(30%);
            }
          }
      }   
}

// .person-selected{
//     z-index: 2;
//     border-right: 1px solid red;
//     background-color: white;
//     color: black;
//     &:hover {
//       background-color: white;
//     }
// }


.info{
  width: 100%;
  display: flex;
  
}
.team-design{
  display:none;
}
.text-selected{
  display:block;
}
// .lead{
//   position: absolute;
//  border: 1px solid black;
//  left: 
// }
