.help-container {

    h1 {
        font-size: 4rem;
        text-align: center;
    }
    
    h2 {
        font-size: 3rem;
        text-align: center;
    }
    
    h3 {
        font-size: 2rem;
    }

    .raq {
        margin: 0 15%;
        @media @tablet {
            margin: 0 10%;
        }
        @media @phone {
            margin: 0 5%;
        }
    }


    // @@@@@@@@@@@@@@@@@@@@ Carousel Styling @@@@@@@@@@@@@@@@@@@@
    .carousel {
        display:flex;
    }
    .cta-img {
        border: 1px solid @purple;
        // margin: 15px auto;
        width: 60%;
        opacity: 0.9;
        z-index:10;
        border-radius:50%;
        display:none;
        @media @phone {
            width: 80%;
        }
    }


    // @@@@@@@@@@@@@@@@@@@@ Tabs Styling @@@@@@@@@@@@@@@@@@@@
    .section {
        .tabs-items {
            flex-direction:initial;
        }
        
        .tabs-item {
            margin: 0 15%;
            width: 100%;
            @media @tablet {
                margin: 0 10%;
            }
            @media @phone {
                margin: 0 5%;
            }
        }
    }
    

    // @@@@@@@@@@@@@@@@@@@@ Accordion Styling @@@@@@@@@@@@@@@@@@@@
    [data-questions] {
        
        .panel {
            // padding: 30px;
            // border: 1px solid gray;
        
            .panel-bar {
                display: flex;
                justify-content: space-between;
            
                .panel-buttons {
                
                    button {
                        cursor: pointer;
                    }

                    .hide-btn {
                        display: none;
                    }
                }
            }
        
            .panel-content {
                display: none;
            }
        
            .toggle-on {
                display: block;
            }
        }
    }
}
