.help-container {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 4rem;
        text-align: center;
    }
    
    h2 {
        font-size: 3rem;
        text-align: center;
    }
    
    h3 {
        font-size: 2rem;
    }

    .search-question {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        .search-bar {
            width: 300px;
        }
    }

    .raq-header {
        margin-bottom: 2rem;
    }

    .raq {
        transition: all .3s ease-in-out;
        margin: 0 15% 3.5rem;
        @media @tablet {
            margin: 0 10% 3.5rem;
        }
        @media @phone {
            margin: 0 5% 3.5rem;
        }
    }


    // @@@@@@@@@@@@@@@@@@@@ Carousel Styling @@@@@@@@@@@@@@@@@@@@
    .carousel {
        display:flex;
    }
    .cta-img {
        border: 1px solid @purple;
        // margin: 15px auto;
        width: 60%;
        opacity: 0.9;
        z-index:10;
        border-radius:50%;
        display:none;
        @media @phone {
            width: 80%;
        }
    }


    // @@@@@@@@@@@@@@@@@@@@ Tabs Styling @@@@@@@@@@@@@@@@@@@@
    .section {
        .tabs-items {
            flex-direction:initial;
        }
        
        .tabs-item {
            margin: 0 15%;
            width: 100%;
            @media @tablet {
                margin: 0 10%;
            }
            @media @phone {
                margin: 0 5%;
            }
        }
    }
    

    // @@@@@@@@@@@@@@@@@@@@ Accordion Styling @@@@@@@@@@@@@@@@@@@@
    [data-questions] {
        
        .panel {
            
            padding: 15px 30px;
            // border: 1px solid gray;
        
            .panel-bar {
                display: flex;
                justify-content: space-between;
                background: rgba(118, 54, 148, 0.2);
                padding: 5px;
                cursor: pointer;
            
                .panel-buttons {
                
                    // img {
                    //     cursor: pointer;
                    // }

                    .hide-btn {
                        display: none;
                    }
                }
            }
        
            .panel-content {
                padding-top: 15px;
                display: none;
            }
        
            .toggle-on {
                display: block;
            }
        }
    }
}
