.help-container {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 4rem;
        text-align: center;

        @media @tablet {
            font-size: 3.5rem;
        }

        @media @phone {
            font-size: 3rem;
            margin-top: 2rem;
        }
    }
    
    h2 {
        font-size: 3rem;
        text-align: center;

        @media @tablet {
            font-size: 2.8rem;
        }
        
        @media @phone {
            font-size: 2.4rem;
        }
    }
    
    h3 {
        font-size: 2rem;

        @media @tablet {
            font-size: 1.8rem;
        }
        
        @media @phone {
            font-size: 1.6rem;
        }
    }

    .search-bar {
        display: flex;
        justify-content: center;
        margin: 1rem 0 3rem;

        .search-icon {
            padding-right: 10px;
            cursor: pointer;
        }

        .search-box {
            width: 500px;
            padding: 12px 20px;
            border-radius: 10px;
            border: solid black 1px;

            @media @tablet {
                width: 450px;
            }
            
            @media @phone {
                width: 400px;
            }

            &:focus {
                border-color: @purple;
                outline: none;
            }
        }
    }

    // @@@@@@@@@@@@@@@@@@@@ Carousel Styling @@@@@@@@@@@@@@@@@@@@
    .carousel {
        margin: 4rem 0;
        display:flex;
        justify-content: center;
        @media @phone {
            display: none;
        }

        .img-reveal{
            display: block;
            animation: fadeIn 5s;
        }
    }
    .help-img {
        border: 2px solid @purple;
        width: 250px;
        height: 250px;
        opacity: 0.9;
        z-index:10;
        border-radius:50%;
        display:none;
    }

    // @@@@@@@@@@@@@@@@@@@@ Tabs Styling @@@@@@@@@@@@@@@@@@@@
    .section {
        .tabs-items {
            flex-direction:initial;
        }
        
        .tabs-item {
            margin: 0 15%;
            width: 100%;
            @media @tablet {
                margin: 0 10%;
            }
            @media @phone {
                margin: 0 5%;
            }
        }
    }
    
    // @@@@@@@@@@@@@@@@@@@@ Accordion Styling @@@@@@@@@@@@@@@@@@@@
    [data-questions] {
        
        .panel {
            padding: 15px 30px;
        
            .panel-bar {
                display: flex;
                justify-content: space-between;
                align-items:center;
                background: rgba(118, 54, 148, 0.2);
                padding: 10px;
                border-radius: 15px;
                cursor: pointer;

                &:hover {
                    border: 1px solid @purple;
                }
            
                .panel-buttons {

                    .hide-btn {
                        display: none;
                    }
                }
            }
        
            .panel-content {
                padding-top: 15px;
                display: none;
            }
        
            .toggle-on {
                display: block;
            }
        }
    }
}

.night-mode-toggle {
    background-color: lighten(hsl(0, 0%, 0%),20%);
    
    h1, h2, h3, p {
        color:white;
    }

    .search-box {
        color: white;
        background-color: lighten(hsl(0, 0%, 0%),30%);
    }
}