.section {
  
  .tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    
      .tabs-links {
        display: flex;
        
        .tabs-link {
          text-decoration: none;
          font-size: 1.75rem;
          color: darkgray;
          padding: 10px;
          transition: all .3s ease-in-out;
          border-bottom: 1px solid transparent;
          cursor: pointer;
          &:hover {
            color: gray;
          }          
        }
  
        .tabs-link-selected {
          z-index: 2;
          color: lightseagreen;
          border-bottom: 1px solid lightseagreen;
          &:hover {
          background-color: lightseagreen;
          color: white;
          }
        }
      }      
    }    
    
  .tabs-items {
    width: 100%;
    height: auto;
    display: flex;
    padding: 60px;
    overflow: scroll;

      .tabs-col1 {
        width: 25%;
        left: 0;
      }

    .tabs-item {
      display: none;  
      width: 50%;
      left: 25%;
      .tabs-item-title {
        font-size: 2.4rem;
        font-weight: bold;
        padding-bottom: 10px;
      }
    }
    .tabs-item-selected {
      display: block;
    }
  }  
}

  
  