.section {
  
  .tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    
      .tabs-links {
        display: flex;
        margin-top: 15px;
        
        .tabs-link {
          text-decoration: none;
          font-size: 1.75rem;
          color: darkgray;
          padding: 10px;
          transition: all .3s ease-in-out;
          border-bottom: 1px solid transparent;
          cursor: pointer;
          &:hover {
            color: gray;
          }          
        }
  
        .tabs-link-selected {
          z-index: 2;
          color: lightseagreen;
          border-bottom: 1px solid lightseagreen;
          &:hover {
          background-color: lightseagreen;
          color: white;
          }
        }
      }      
    }    
    
  .tabs-items {
    width: 100%;
    height: auto;
    display: flex;
    overflow: scroll;  

    .tabs-item {
      display: none;  
      height: auto;
      width: 25%;
      margin: 25px 15px 25px 35%;
      transition: all .3s ease-in-out;
      
      .tabs-item-title {
        font-size: 2.4rem;
        font-weight: bold;
        padding-bottom: 10px;
      }

      .regBtn {
        border: 1px solid black;
        color: white;
        background-color: lightseagreen;

      }
    }
    
    .tabs-item-selected {
      display: block;
    }
  } 
  
  .selection-img {
    margin: 5px 0;
    max-height: 300px;
    max-width: 300px;
    height: auto;
    width: auto;
  }
}

  
  