header{
    width:100%;
    display:flex;
    justify-content: flex-start;
    position: fixed;
    top:0;
    align-items:baseline;
    z-index: 1001;
    background:linear-gradient(lightseagreen,#f79d00);
    padding:10px;
    margin-left: -1px;
    @media @tablet{
        flex-direction: column;
        // padding-bottom: 0;
    }

    .button-mobile{
        display:none;
        @media @phone{
            display: flex;
            width:100%;
        }

        p{  
            width:100%;
            text-align: center;
            font-weight: bold;
            letter-spacing: 5px;
            // padding-top: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid black;
            cursor: pointer;
        }
    }

    .logo {
        margin-top:15px;
        width: 10%;
        height: 7rem;
        @media @tablet{
            width: 100%;
            margin-top:0;
            margin-bottom: 5px;
            height: 4rem;
        }
        @media @phone{
            display:none;
        }
    }
    
    nav{
        width:100%;
        align-items: flex-end;
        justify-content: flex-start;
        display:flex;
        @media @tablet{
            // flex-direction: column;
            // align-items: center;
            width:100%;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media @phone{
            flex-direction:column;
            align-items: center;
        }

        .page-links{  
            justify-content: space-between;
            text-decoration: none;
            color: black;
            padding: 0 50px;
            // margin-left: 2rem;
            cursor: pointer;
            &:hover{
                color: black;
                text-decoration: underline;
            }
            &:first-child {
                margin-left: 2rem;
            }
            @media @tablet{
                margin:0;
                // width:90%;
                // padding: 10px 0px 10px 0px;
                padding: 5px 30px;
                text-align: center;
                color:black;
                border-left: 1px solid black;
                &:first-child {
                    border-left: none;
                    margin-left: 0;
                }
                // border-bottom: 1px solid black;
            }
            @media @phone{
                padding: 10px 0;
                width: 100%;
                border-left: none;
                border-bottom: 1px solid black;
                display: none;
            }
        }
        .reveal-page-links {
            display:block;
        }
    }

    .dropdown{
        display: flex;
        flex-direction: row;
        width: 100%;
        
        .dropdown-button{           
            @media @tablet{
                display:none;
            }

            .login{
                text-decoration: none;
                color: black;
                font-size: 2rem;
                border: solid black 1px;
                padding: 5px;
                cursor: pointer;
                &:hover{
                    // color: black;
                    text-decoration: underline;
                }
            }
        }

        .dropdown-links{
            width:100%;
            flex-direction: row;
            display: flex;
            padding-left: 10px;
            justify-content: flex-start;
            @media @tablet{
                // width:90%;
                justify-content: space-around;
                border-top: solid black 1px;
                // margin:0 auto;
                // padding-left: 0;
            }
            @media @phone {
                border-top: none;
            }

            .sign-in{
                text-decoration: none;
                color: black;
                cursor: pointer;
                &:last-child {
                    margin-left: 15px;
                }
                &:hover{
                    text-decoration: underline;
                    color:black;
                }
                @media @tablet{
                    padding-top: 10px;
                    &:last-child {
                        margin-left: 0;
                    }
                    &:after {
                        content: " Login";
                    }
                }
            }
        }

        .dropdown-hidden{
            display:none;
            @media @tablet{
                display:flex;
            }
        
        }
    }

    #google_translate_element{
        position: absolute;
        top: 0;
        left: 50%;
        @media @tablet{
            display:none;
        }
    }
}
